<!DOCTYPE html>
<html>

<head>
    {% load static %}
</head>

<body>
    <h1 id="tweet-title">Hello, World!</h1>
    <section id="tweet-wrapper">
        <pre class="tweet-body prettyprint">
                Click the button below to examine a tweet
            </pre>
        <div>
            <button id="next-button">Next</button>
        </div>
    </section>
    <script src="{% static 'main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</body>

</html>